<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExplodeFight 3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF08068D256BD29700F2EBA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF0806A3256BD29800F2EBA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF0806AE256BD29800F2EBA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
